.main-container {
    position: relative;
    left: 250px;
    margin-top: 60px;
    width: calc( 100% - 250px);
    padding: 2rem;
    transition: .3s;
}

.main-container-full-width { width: 100% !important; }