$primary-color: rgb(10, 8, 17);
$secondary-color: rgb(18, 21, 39);

$sidebarMenuBgColor: linear-gradient( $primary-color, $secondary-color );
$topbarMenuBgColor: linear-gradient(45deg, $primary-color, $secondary-color  );
$scrollbarBgColor: $primary-color;
$scrollbarColor: rgb(92, 92, 92);